// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

div.patom {
  margin: 0 15px;
}

div.patom.flex {
  display: flex;

  div {
    margin-bottom: 15px;
    padding: 5px 15px;

    background-color: @button-background-color;
    border: 1px solid @button-border-color;
    border-radius: 3px;
  }
}

div.patom.grid {
  display: grid;
  max-height: 100%;
  overflow-y: scroll;

  span.row {
    padding: 8px 4px;
    overflow-y: hidden;

    span.draggable {
      padding: 0 1px;
      background-color: darken(@base-background-color, 10%);

      &:hover {
        cursor: ew-resize;
        background-color: @button-background-color-selected;
        width: 4px;
      }
    }

    &:last-child {
      height: calc(auto - 30px);
    }
  }

  span.header {
    position: sticky;
    top: 0;
    padding: 5px;
    font-weight: bold;
    background-color: @base-background-color;
    display: flex;
    justify-content: space-between;
  }

  span.light {
    background-color: lighten(@app-background-color, 2%);
  }

  span.hover {
    background-color: @background-color-selected;
  }

  span.null {
    font-style: italic;
    color: @text-color-ignored;
  }

  p.error {
    color: @text-color-error;
    font-style: italic;
  }
}
